
body {
    background-color: #6f9e80;
    margin: 0;
    font-family: sans-serif;
    padding: 20px;
  }
  @keyframes example {
      0% {transform: scale(1);}
      33% {transform: scale(1.1);}
      66% {transform: scale(0.9);}
      100% {transform: scale(1);}
  }
  
  .field input{
      width: 0;
      height: 0;
  }
  
  .field input+label{
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 2px solid black;
  }
  
  
  input:checked+label{
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: 2;
    background-color: #27ae60;
  }
  
  .name:checked+label{
      animation-name: example;
  }
  .duration:checked+label{
      animation-duration: 1s;
  }
  .iteration-count:checked+label{
      animation-iteration-count: 2;
  }
  
  