

body {
    background-color: #6f9e80;
    margin: 0;
    font-family: sans-serif;
  }
  
  .map{
    height: 200px;
    padding: 20px;
    background-image: url('/static/sber/task_8/map.jpeg');
    background-position: bottom;
    background-size: 20% 100%;
    margin-bottom: 100px;
  }
  
  .mario{
    width: 50px;
  }
  
  .map_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .map_2 {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }
  
  .map_3 {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
  }