


body {
    background-color: #6f9e80;
    margin: 0;
    font-family: sans-serif;
  }
  
  .map{
    height: 200px;
    padding: 20px;
    background-image: url('/static/sber/task_34/map.jpeg');
    background-position: bottom;
    background-size: 20% 100%;
    margin-bottom: 100px;
  display: flex;
  justify-content: center;
  }
  
  .mario_1 {
  align-self: flex-start;
  }
  
   
  .mario_2 {
  align-self: center;
  }
  
   
  .mario_3 {
  align-self: flex-end;
  }
  
  .mario{
    width: 50px;
  }
  